<div class="panel-heading">
  <h3 class="panel-title">Edit Show</h3>
</div>
<div class="panel-body">

<!-- <label>Flyer:</label>
<input [(ngModel)]="selectedShow.flyer" type="image" name="flyer">
<br> -->

<label>Bands:</label>
<input [(ngModel)]="selectedShow.bands" type="text" name="bands">
<br>

<label>Venue:</label>
<input [(ngModel)]="selectedShow.venue" type="text" name="venue">
<br>

<label>Date and Time</label>
<input [(ngModel)]="selectedShow.date" type="text" name="date">
<br>

<label>Price:</label>
<input [(ngModel)]="selectedShow.price" type="number" name="price">
<br>

<label>All ages?</label><br>
<input type="radio" [(ngModel)]="selectedShow.ageLimit" value="All Ages" name="ageLimit">All Ages<br>
<input type="radio" [(ngModel)]="selectedShow.ageLimit" value="21+" name ="ageLimit">21+<br>
<br>

<label>Category</label><br>
<input type="radio" [(ngModel)]="selectedShow.category" value="Metal" name="category">Metal<br>
<input type="radio" [(ngModel)]="selectedShow.category" value="Punk" name ="category">Punk<br>
<br>

<button (click)="updateShow(selectedShow)">Update</button>

</div>
