<h2>Show Guide</h2>
<select (change)="onSelect($event.target.value)">
  <option value="all" selected="selected">All</option>
  <option value="punk">Punk</option>
  <option value="metal">Metal</option>
</select>
<br>
<br>
<div *ngFor="let show of shows | async | filters:filterByCategory" class="panel panel-default">
  <div class="panel-body">
    <img class="showImage" src="./../../assets/show-flyers/{{show.flyer}}" alt="{{show.bands}} Flyer">
    <h3>{{show.bands}}</h3>
    <h5>{{show.venue}}</h5>
    <p>{{show.date}}</p>
    <p>{{show.price}} | {{show.ageLimit}}</p>
    <p>{{show.category}}</p>
    <button (click)="goToShowDetail(show)">Full Detail</button>
    <button (click)="goToShowEdit(show)">Edit Listing</button>
    <app-show-edit [selectedShow]="show"></app-show-edit>
  </div>
</div>
